flask==2.3.3
Pillow==10.0.0
flask-cors==4.0.0
gunicorn[gthread]==21.2.0
requests==2.31.0
Werkzeug==2.3.7
python-dotenv==1.0.0  # Para melhor gerenciamento de variáveis de ambiente
greenlet==2.0.2  # Para melhor performance com threads
